<!-- Footer -->
<footer>
  <hr class="hr-separator {% if page.url == '/' or page.url == '/index.html' %} hr--primary {% elsif page.url contains '/html/' %} hr--secondary {% elsif page.url contains '/blog_pages/' %} hr--accent {% endif %}" />

  <div class="footer-content">
    <div class="flex footer-row-top">
      <a class="footer-top-link border-underline border-underline--accent65 small-text hover-scale1_05" href="#top" >Back to top</a >
      <ul class="flex footer-nav">
        <li class="footer-nav-item">
          <a class="footer-nav-link small-text hover-scale1_05" href="{{ '/index.html' | relative_url }}">Home</a>
        </li>
        <li class="footer-nav-separator" role="separator">•</li>
        <li class="footer-nav-item">
          <a class="footer-nav-link small-text hover-scale1_05" href="{{ '/html/projects.html' | relative_url }}">Projects</a>
        </li>
        <li class="footer-nav-separator" role="separator">•</li>
        <li class="footer-nav-item">
          <a class="footer-nav-link small-text hover-scale1_05" href="{{ '/html/about.html' | relative_url }}">About</a>
        </li>
        <li class="footer-nav-separator" role="separator">•</li>
        <li class="footer-nav-item">
          <a class="footer-nav-link small-text hover-scale1_05" href="{{ '/html/contact.html' | relative_url }}">Contact</a>
        </li>
      </ul>
    </div>
    <div class="flex footer-row-middle">
      <small class="small-text">Created by marco0ga7@gmail.com</small>
      <ul class="flex footer-connect-links">
        <li class="footer-connect-item hover-scale1_05">
          <a href="https://github.com/PnguinMster"
            ><img class="footer-connect-img" src="{{ '/images/Logos/github-mark-white.svg' | relative_url }}" alt="Github"
          /></a>
        </li>
        <li class="footer-connect-item hover-scale1_05">
          <a href="https://www.linkedin.com/in/marco-gamboa-09666120b/"
            ><img class="footer-connect-img" src="{{ '/images/Logos/InBug-White.png' | relative_url }}" alt="LinkedIn"
          /></a>
        </li>
        <li class="footer-connect-item hover-scale1_05">
          <a href="https://pnguinmster.itch.io/"
            ><img
              class="footer-connect-img"
              src="{{ '/images/Logos/itchio-logo-textless-white.svg' | relative_url }}"
              alt="Itch.io"
          /></a>
        </li>
      </ul>
    </div>
    <div class="flex footer-row-bottom">
      <small class="small-text">&copy; 2025 Marco Gamboa. All rights reserved.</small>
      <a
        class="footer-resume-link border-underline border-underline--accent65 small-text"
        href="{{ '/images/MarcoGamboa_Resume.pdf' | relative_url }}"
        download
        >Download Resume</a
      >
    </div>
  </div>
</footer>
