---
layout: default
---

<!doctype html>
<html lang="en" id="top">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Portfolio Website Projects" />
    <meta name="author" content="Marco Gamboa" />
    <title>Portfolio Website</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>

  <body class="flex-column">
    {% include header.html %}

    <main>
      <!-- Contact Hero -->
      <section aria-label="Contact Hero" class="flex-column secondary-page-hero">
        <h1 class="hero-text-main other-hero-text--font">Contact</h1>
        <p class="hero-text-secondary">Talk to me personally</p>
      </section>

      <hr class="hr-separator hr--gradient-secondary" />

      <div class="flex contact-container">
        <!-- Contact Info -->
        <div class="contact-info-container">
          <h2 class="contact-info-title border-underline border-underline--secondary85">Contact Me</h2>
          <div class="contact-info-content">
            <p class="contact-info-content-text body-text">
              So, you decided you wanted to contact me? Well you can contact using one of the links.
            </p>
            <div class="contact-info-links">
              <!-- Contact Info Github -->
              <a class="flex contact-info-link-panel" href="https://github.com/PnguinMster">
                <img class="contact-info-link-img" src="../images/Logos/github-mark-white.svg" alt="Github Logo" />
                <div>
                  <h3 class="subheading--medium-rubik contact-info-link-title">Github:</h3>
                  <p class="contact-info-link-name">@PnguinMster</p>
                </div>
              </a>
              <!-- Contact Info Itch.io -->
              <a class="flex contact-info-link-panel" href="https://pnguinmster.itch.io/">
                <img
                  class="contact-info-link-img"
                  src="../images/Logos/itchio-logo-textless-white.svg"
                  alt="Itch.io Logo"
                />
                <div>
                  <h3 class="subheading--medium-rubik contact-info-link-title">Itch.io:</h3>
                  <p class="contact-info-link-name">@PnguinMster</p>
                </div>
              </a>
              <!-- Contact Info Mail -->
              <a
                class="flex contact-info-link-panel"
                href="mailto:marco0ga7@gmail.com?subject=Mail from Portfolio Website"
              >
                <img class="contact-info-link-img" src="../images/Logos/mail-forward.svg" alt="Mail Logo" />
                <div>
                  <h3 class="subheading--medium-rubik contact-info-link-title">Mail:</h3>
                  <p class="contact-info-link-name">marco0ga7@gmail.com</p>
                </div>
              </a>
              <!-- Contact Info LinkedIn -->
              <a class="flex contact-info-link-panel" href="https://www.linkedin.com/in/marco-gamboa-09666120b/">
                <img class="contact-info-link-img" src="../images/Logos/InBug-White.png" alt="LinkedIn Logo" />
                <div>
                  <h3 class="subheading--medium-rubik contact-info-link-title">LinkedIn:</h3>
                  <p class="contact-info-link-name">Marco Gamboa</p>
                </div>
              </a>
              <!-- Contact Info Download Resume -->
              <a class="flex contact-info-link-panel" href="../images/MarcoGamboa_Resume.pdf" download>
                <img class="contact-info-link-img" src="../images/Logos/file_docs.svg" alt="Github Logo" />
                <div>
                  <h3 class="subheading--medium-rubik contact-info-link-title">Download Resume:</h3>
                  <p class="contact-info-link-name">Resume</p>
                </div>
              </a>
            </div>
          </div>
        </div>

        <!-- Contact Animation -->
        <div class="contact-animation-container">
          <input class="hero-play-toggle" type="checkbox" id="hero-toggle" aria-label="Toggle Animation" />
          <label for="hero-toggle" class="hero-animation-wrapper">
            <img
              class="hero-img hero-img-border--secondary hero-static background-hover-color"
              src="../images/Animations/HeroStatic_BogoSort.webp"
              alt="Contact Hero Static"
            />
            <img
              class="hero-img hero-img-border--secondary hero-animation background-hover-color"
              src="../images/Animations/HeroAnimation_QuakeIII.webp"
              alt="Contact Hero Animation"
            />
          </label>
        </div>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
