---
layout: default
title: "Projects"
---

<!-- Project Hero -->
<section aria-label="Projects Hero" class="flex-column secondary-page-hero">
  <h1 class="hero-text-main other-hero-text--font">Projects</h1>
  <p class="hero-text-secondary">Explore my creations</p>
</section>

<hr class="hr-separator hr--gradient-secondary" />

<!-- Projects -->
<section aria-label="Projects Panels" class="flex-column projects-panels">
  <!-- Project ? -->
  {% assign posts = site.posts | where_exp: "post", "post.hidden != true" %} {% for post in posts %}
  <div class="projects-panel--margin project-panel-border-wrapper project-panel-border-wrapper--cycle">
    <div class="flex project-panel-border">
      <div class="flex-column project-panel-content">
        <div class="flex-column project-panel-texts">
          <h2
            class="project-panel-title border-underline {% cycle 'border-underline--primary', 'border-underline--secondary' %}"
          >
            {{ post.article }}
          </h2>
          <div class="flex-column project-panel-bio-container">
            <p class="subheading--medium-rubik">{{ post.subheading }}</p>
            <p class="body-text"> {{ post.abstract }} </p>
          </div>
        </div>
        <!-- Tags -->
        {% if post.tags %}
        <div class="tag-container">
          {% for tag in post.tags %}
          <small
            class="tag-content tag-color-{{ tag | downcase | replace: '#', 'sharp' | replace: '+', 'p' | replace: ' ', '-' }} small-text"
            >{{ tag }}</small
          >
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <a class="panel-img--shadow project-panel-img--border" href="{{ post.url | relative_url }}">
        <picture>
          <source
            srcset="{{ post.panel_image | default: '/images/Blogs/coming_soon_showcase' | relative_url  }}.webp"
            type="image/webp"
          />
          <img
            class="project-panel-img"
            src="{{ post.panel_image | default: '/images/Blogs/coming_soon_showcase' | relative_url  }}.jpg"
            alt="{{ post.panel_image_alt | default: 'Coming Soon Showcase Image'}}"
            loading="lazy"
          />
        </picture>
        <img
          class="panel-img-link-icon"
          src="{{ '/images/Logos/link_arrow.svg' | relative_url }}"
          alt=""
          aria-hidden="true"
          loading="lazy"
        />
      </a>
    </div>
  </div>
  {% endfor %}
</section>
