---
layout: default
title: "Blog"
---

<!-- Blog Hero -->
<section aria-label="Blog Hero" class="flex-column blog-title-container">
  <div class="blog-title-bar underline--accent-secondary">
    <h1 class="blog-title">{{ page.article }}</h1>
    {% if page.subheading %}
    <p class="blog-subheading">{{ page.subheading }}</p>
    {% endif %}
  </div>
  <small class="blog-updated-caption">Last Updated {{ page.last_updated }}</small>
</section>

<!-- Blog Article -->
<section aria-label="Portfolio Website Article" class="flex blog-article">
  <!-- Blog Article Content -->
  <div class="blog-article-content">{{ content }}</div>

  <!-- Blog Sidebar -->
  <aside class="blog-article-info">
      <!-- Table of Contents -->
      {% if page.toc %}
      <div class="blog-side-contents">
        <h2 class="blog-side-info-title border-underline border-underline--accent">Table of Contents</h2>
        {% for item in page.toc %}
          <a class="blog-table-of-contents-chapter small-text" href="#{{ item.id }}">{{ item.title }}</a>
        {% endfor %}
      </div>
      {% endif %}

      <div class="blog-side-contents">
        <!-- More Info -->
        <h2 class="blog-side-info-title border-underline border-underline--accent">Info</h2>
        {% if page.info %}
          <div class="flex-column blog-more-info-contents">
          {% for link in page.info %}
            {% if link.type == "image" %}
              <a class="blog-more-info-link" href="{{ link.href | relative_url }}">
                <img class="blog-more-info-img" src="{{ link.img }}" alt="{{ link.alt }}" />
              </a>
            {% elsif link.type == "text" %}
              <a class="blog-more-info-link" href="{{ link.href | relative_url }}">{{ link.label }}</a>
            {% endif %}
          {% endfor %}
          </div>
        {% endif %}

        <!-- Tags -->
        {% if page.tags %}
        <div class="flex-column blog-more-info-contents">
          {% for tag in page.tags %}
            <small class="tag-content tag-color-{{ tag | downcase }} small-text">{{ tag }}</small>
          {% endfor %}
        </div>
        {% endif %}
      </div>
  </aside>
</section>
