<!doctype html>
<html lang="en" id="top">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The portfolio website for Marco G. See info and projects" />
    <meta name="author" content="Marco G." />
    <title> {% if page.article and page.title %} {{ page.article }} | {{ page.title }} | {{ site.title }} {% elsif page.title %} {{ page.title }} | {{ site.title }} {% else %} {{ site.title }} {% endif %}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body class="flex-column">
    {% include header.html %}

    <main>
        {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
